<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>KKR</title>
<!-- CSS -->
<link th:href="@{/css/header.css}" rel="stylesheet" />
<!-- Boxicons CSS -->
<link href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css"
	rel="stylesheet" />

<link
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
	rel="stylesheet">


<style>
body {
	background: #e3f2fd;
}

nav {
	background: #fff;
	height: 70px;
}

main {
	min-height: calc(100vh-70px);
}

#eventGalleryInfo {
	margin-top: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.card {
	background: cadetblue;
	height: 200px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
}
</style>

</head>
<body>
	<nav>
		<div class="logo" style="margin: 10px 24px">
			<i class="bx bx-menu menu-icon"></i> <span class="logo-name">KKR</span>
		</div>
		<div class="sidebar">
			<div class="logo">
				<i class="bx bx-menu menu-icon"></i> <span class="logo-name">KKR</span>
			</div>

			<div class="sidebar-content">
				<ul class="lists">
					<li class="list"><a th:href="@{/upload}" class="nav-link">
							<i class="bx bx-home-alt icon"></i> <span class="link">Add-Gallery-Image</span>
					</a></li>
					<li class="list"><a th:href="@{/images}" class="nav-link">
							<i class="bx bx-bar-chart-alt-2 icon"></i> <span class="link">View-Gallery-Image</span>
					</a></li>
					<li class="list"><a th:href="@{/upload1}" class="nav-link">
							<i class="bx bx-home-alt icon"></i> <span class="link">Add-Event-Image</span>
					</a></li>
					<li class="list"><a th:href="@{/images1}" class="nav-link">
							<i class="bx bx-bar-chart-alt-2 icon"></i> <span class="link">View-Event-Image</span>
					</a></li>
					<li class="list"><a th:href="@{/}" class="nav-link"> <i
							class="bx bx-pie-chart-alt-2 icon"></i> <span class="link">KKR-Website</span>
					</a></li>
				</ul>
			</div>
		</div>
	</nav>
<main>
	<div id="eventGalleryInfo">
		<div class="container">
			<div class="row">
				<div class="col-md-6 mt-2">
					<div class="card ">
						<h1 class="" id="eventCard"></h1>
					</div>
				</div>
				<div class="col-md-6 mt-2">
					<div class="card">
						<h1 class="" id="galleryCard"></h1>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>
	<section class="overlay"></section>

	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script type="text/javascript" th:src="@{/js/script.js}"></script>
		<script>
		function updateEventGalleryInfo() {
			$.ajax({
				url : "/count",
				type : "GET",
				dataType : "json",
				success : function(data) {
					var eventCount = data.event;
					var galleryCount = data.gallery;

					$("#eventCard").html("Event Images: " + eventCount);

					$("#galleryCard").html("Gallery Images: " + galleryCount);
				},
				error : function(error) {
					console.error("Error fetching data:", error);
				}
			});
		}

		$(document).ready(function() {
			updateEventGalleryInfo();
		});
	</script>
</body>
</html>
